Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee

Document backends.
  modules/pytket-cirq/docs/index.rst
Owners: @sjdilkes

Fix docstrings.
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

Remove uninteresting __init__ from docs.
  modules/pytket-cirq/docs/index.rst
Owners: @sjdilkes

[pyket-cirq] [doc] Document cirq backends. (#37)
  docs/conf.py
  docs/requirements.txt
  modules/pytket-cirq/docs/index.rst
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

match unitary gate labels to gate name
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

[pytket-qiskit] match unitary gate labels to gate name (#38)
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Filter warnings from dependent modules.
  modules/pytket-qulacs/tests/pytest.ini
Owners: @Roland-djee

Don't warn for no measures.
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

[pytket-qulacs] Don't warn for no measures. (#39)
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/tests/pytest.ini
Owners: @Roland-djee

map qiskit sx to OpType.SX. Fixes #26.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

map qiskit sx to OpType.SX. Fixes #26.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Bump versions for pytket 0.9.0 release.
  modules/pytket-aqt/_metadata.py
  modules/pytket-aqt/setup.py
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/_metadata.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

add config to braket
  modules/pytket-braket/pytket/extensions/braket/__init__.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/backends/config.py
Owners: @cqc-alec

[pytket-aqt] [TKET-1044] add aqt token to config
  modules/pytket-aqt/pytket/extensions/aqt/__init__.py
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/pytket/extensions/aqt/backends/config.py
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @cqc-melf, @ss2165

[pytket-qiskit] add config for IBMQ
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/config.py
  modules/pytket-qiskit/pytket/extensions/qiskit/__init__.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/config.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/config.py
Owners: @ss2165, @cqc-alec

update to new extconfig
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/config.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/config.py
Owners: @ss2165, @cqc-alec

add ionq api key config
  modules/pytket-ionq/pytket/extensions/ionq/__init__.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/config.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
Owners: @Roland-djee, @cqc-alec

add config setter function for azure
  modules/pytket-qsharp/pytket/extensions/qsharp/__init__.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/config.py
Owners: @cqc-alec

Specify providers.
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

add extension config docs
  .gitignore
  docs/build-docs
  modules/pytket-aqt/docs/index.rst
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/pytket/extensions/aqt/backends/config.py
  modules/pytket-braket/docs/index.rst
  modules/pytket-braket/pytket/extensions/braket/backends/config.py
  modules/pytket-honeywell/docs/index.rst
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/config.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/docs/index.rst
  modules/pytket-ionq/pytket/extensions/ionq/backends/config.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qiskit/docs/index.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/config.py
  modules/pytket-qsharp/docs/index.rst
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/config.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee

Move pytest annotation to the test itself.
  modules/pytket-aqt/tests/convert_test.py
Owners: @cqc-melf

Remove unused import.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Remove test that is now invalid after change in warning behaviour.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Apply suggestions from code review
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/backends/config.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/config.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/config.py
Owners: @cqc-melf, @cqc-alec, @Roland-djee, @ss2165

[pytket-qiskit] fix bug when no provider parameters specified
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

[feature] Add more config parameters to extensions (#42)
  .gitignore
  docs/build-docs
  modules/pytket-aqt/docs/index.rst
  modules/pytket-aqt/pytket/extensions/aqt/__init__.py
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/pytket/extensions/aqt/backends/config.py
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-braket/docs/index.rst
  modules/pytket-braket/pytket/extensions/braket/__init__.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/backends/config.py
  modules/pytket-honeywell/docs/index.rst
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/docs/index.rst
  modules/pytket-ionq/pytket/extensions/ionq/__init__.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/config.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qiskit/docs/index.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/__init__.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/config.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
  modules/pytket-qsharp/docs/index.rst
  modules/pytket-qsharp/pytket/extensions/qsharp/__init__.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/config.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee

Make a single pytest.ini file for all extensions.
  modules/pytest.ini
  modules/pytket-braket/tests/pytest.ini
  modules/pytket-cirq/tests/pytest.ini
  modules/pytket-qulacs/tests/pytest.ini
Owners: @cqc-alec, @sjdilkes, @Roland-djee

Remove explicit call to test function.
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

[test] Make a single pytest.ini file for all extensions. (#45)
  modules/pytest.ini
  modules/pytket-braket/tests/pytest.ini
  modules/pytket-cirq/tests/pytest.ini
  modules/pytket-qulacs/tests/pytest.ini
Owners: @cqc-alec, @sjdilkes, @Roland-djee

[pytket-qsharp] Remove explicit call to test function. (#46)
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

Remove 'remove_blank_wires'
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

Add qubit wires as identity gates
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
Owners: @sjdilkes

Update blank wire tests
  modules/pytket-cirq/tests/test_cirq_backend.py
Owners: @sjdilkes

Add identity gates to tket circuit
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
Owners: @sjdilkes

Remove print statement
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

Change to kwarg argument
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

add state comparison test
  modules/pytket-cirq/tests/test_cirq_backend.py
Owners: @sjdilkes

add bool
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
Owners: @sjdilkes

copy circuit if adding qubits
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

fix typo, add test to confirm false case holds equality
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes
