Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Added BackendInfo to pyquil
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
Owners: @sjdilkes, @lmondada

Update projectq_backend to use BackendInfo
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-projectq/tests/projectq_convert_test.py
Owners: @lmondada

Added BackendInfo to qsharp
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/estimator.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/toffoli.py
Owners: @cqc-alec

moved gateset -> gate_set
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @sjdilkes, @lmondada, @ss2165

Fixed linting
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @cqc-melf, @ss2165, @Roland-djee, @sjdilkes, @lmondada

Merge pull request #107 from isobelhooper/develop
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Update version number and changelog.
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/docs/changelog.rst
Owners: @cqc-alec

[bugfix] [TKET-1336] [pytket-qiskit] support V gate
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

[bugfix] [TKET-1336] [pytket-qiskit] support V gate
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

[pytket-honeywell] include message in HQSAPIError
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
Owners: @ss2165

added n_shots as list for all process_circuits
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm_utils.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/estimator.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/toffoli.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/pytket/extensions/qulacs/qulacs_convert.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

add type-requests requirement to aqt test
  modules/pytket-aqt/tests/test-requirements.txt
Owners: @cqc-melf

Update qiskit version to 0.27.
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/setup.py
Owners: @ss2165

[feature] Update qiskit version to 0.27. (#114)
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/setup.py
Owners: @ss2165

[pytket-qiskit] Add optional account_provider to IBMQBackend and IBMQEmulatorBackend
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
Owners: @ss2165

[pytket-qiskit] Add optional account_provider to IBMQBackend and IBMQEmulatorBackend
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
Owners: @ss2165

fix comma in readme
  README.md
Owners: none

fix comma in readme
  README.md
Owners: none

[pytket-aqt] Make AQTBackend cache handling more robust
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
Owners: @cqc-melf

[pytket-qsharp] Make AzureBackend cache handling more robust
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
Owners: @cqc-alec

[pytket-qsharp] Mark AzureBackend as supporting persistent handles
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
Owners: @cqc-alec

Install types modules.
  modules/pytket-aqt/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
Owners: @cqc-melf, @ss2165, @Roland-djee

[infra] Install types modules. (#119)
  modules/pytket-aqt/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
Owners: @cqc-melf, @ss2165, @Roland-djee

[pytket-aqt] [pytket-qsharp] Make AQTBackend and AzureBackend handle cache updates more robustly (#118)
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
Owners: @cqc-melf, @cqc-alec

added n_shots as list for all process_circuits
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm_utils.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/estimator.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/toffoli.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/pytket/extensions/qulacs/qulacs_convert.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

add type-requests requirement to aqt test
  modules/pytket-aqt/tests/test-requirements.txt
Owners: @cqc-melf

Added BackendInfo to IonQ
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

Added warning to CI script docs
  .github/workflows/build-test
Owners: none

Added BackendInfo to Honeywell
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/tests/backend_test.py
Owners: @ss2165

Added BackendInfo to AQT
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
Owners: @cqc-melf

Added BackendInfo to qiskit
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_backend.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Added BackendInfo to cirq
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

Added BackendInfo to braket
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/braket_convert.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Added BackendInfo to pyquil
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
Owners: @sjdilkes, @lmondada

Update projectq_backend to use BackendInfo
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-projectq/tests/projectq_convert_test.py
Owners: @lmondada

moved gateset -> gate_set
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @sjdilkes, @lmondada, @ss2165

Added BackendInfo to qulacs
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

Added BackendInfo to qsharp
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
Owners: @cqc-alec

Fixed linting
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @cqc-melf, @ss2165, @Roland-djee, @sjdilkes, @lmondada

changed fastfeedback to fast_feedforward
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
