Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @Roland-djee, @lmondada, @ss2165

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-iqm/ @cqc-alec
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-quantinuum/ @ss2165
/modules/pytket-qulacs/ @Roland-djee
/modules/pytket-stim/ @cqc-alec

Add parameter to BraketBackend specifying local device (SV or DM).
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Add test for local DM simulator.
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Add test for remote TN simulator.
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Update changelog.
  modules/pytket-braket/docs/changelog.rst
Owners: @cqc-alec

Specify required version of amazon-braket-default-simulator.
  modules/pytket-braket/setup.py
Owners: @cqc-alec

Add "two_qubit_pauli_channel" to ops dict.
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

[pytket-braket] Support for local density-matrix and remote tensor-network simulators, with tests (#337)
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/setup.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Fix typo.
  README.md
Owners: none

[doc] Fix typo. (#338)
  README.md
Owners: none

added pytket-quantinuum example folder and example notebook
  modules/pytket-quantinuum/examples/.ipynb_checkpoints/Quantinuum Circuit Submissions via pytket-checkpoint.ipynb
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

edited gitignore, ignore Jupyter notebook checkpoints for example notebooks
  .gitignore
Owners: none

Remove machine_debug flag This argument is intended for internal use
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

Use a defined circuit variable
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

Remove redundant imports
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

remove checkpoints
  modules/pytket-quantinuum/examples/.ipynb_checkpoints/Quantinuum Circuit Submissions via pytket-checkpoint.ipynb
Owners: @ss2165

Add note for ``optimisation_level``
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

Use teleportation to demonstrate conditional gates
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

Change simulator n_qubits for ionq simulator
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

fix error with available devices
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

fix lint with black
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

change is to ==
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

Add failing test case.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Correct check in existing test.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Fix unitary conversions.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Update changelog.
  modules/pytket-braket/docs/changelog.rst
Owners: @cqc-alec

Fix type.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

[pytket-qiskit] [bugfix] Fix two-qubit unitary conversion. (#344)
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @cqc-alec, @ss2165

Raise an error if the barrier is defined over a classical bit.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Test that the error is raised when a barrier is defined for classical bits.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Black autoformatting.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

notebook uses updated device target names
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
Owners: @ss2165

Update modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Update modules/pytket-qiskit/tests/qiskit_convert_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Update modules/pytket-qiskit/tests/qiskit_convert_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Install stable Black version.
  .github/workflows/lint.yml
Owners: none

Black autotformatting.
  modules/pytket-cirq/tests/cirq_convert_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @sjdilkes, @ss2165

#147 Fix barrier conversion to qiskit (#345)
  .github/workflows/lint.yml
  modules/pytket-cirq/tests/cirq_convert_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @sjdilkes, @ss2165

clarify login and and add save result
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

updated save results example
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

remove old results file
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165
