Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Using a forked sphinx 4.0.1. Fix #84
  docs/requirements.txt
Owners: none

fix changelog entry
  modules/pytket-cirq/docs/changelog.rst
Owners: @sjdilkes

Add circuit conversion for CH gate to pytket-cirq (#86)
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

Fix azure test.
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

Make the test pass in the `machine_debug=True` case.
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

[pytket-qsharp] Fix azure test. (#91)
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

Use preferred Q# syntax to avoid deprecation warnings.
  modules/pytket-qsharp/pytket/extensions/qsharp/qsharp_convert.py
Owners: @cqc-alec

[pytket-qsharp] Use preferred Q# syntax to avoid deprecation warnings. (#92)
  modules/pytket-qsharp/pytket/extensions/qsharp/qsharp_convert.py
Owners: @cqc-alec

[pytket-braket] Allow BraketBackend to take an AwsSession
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

[pytket-braket] Clarify BraketBackend.aws_session parameter
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

[pytket-braket] Allow BraketBackend to take an AwsSession (#93)
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Update pytket version requirement and bump version numbers.
  modules/pytket-aqt/_metadata.py
  modules/pytket-aqt/setup.py
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/_metadata.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Update changelogs.
  modules/pytket-aqt/docs/changelog.rst
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-honeywell/docs/changelog.rst
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-pyquil/docs/changelog.rst
  modules/pytket-pyzx/docs/changelog.rst
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qulacs/docs/changelog.rst
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Sort the list of found modules.
  .github/workflows/changed_modules.py
Owners: none

Update pytket version requirements, versions and changelogs. (#95)
  .github/workflows/changed_modules.py
  modules/pytket-aqt/_metadata.py
  modules/pytket-aqt/docs/changelog.rst
  modules/pytket-aqt/setup.py
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/setup.py
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-honeywell/docs/changelog.rst
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyquil/docs/changelog.rst
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-pyzx/docs/changelog.rst
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/_metadata.py
  modules/pytket-qulacs/docs/changelog.rst
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[pytket-qsharp] Update qsharp version requirement.
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

Prevent openfermion installation from installing cirq < 0.11.
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

Require openfermion >= 1.0.1.
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

Add constraints files for test dependencies.
  .github/workflows/build-test
  modules/pytket-aqt/tests/constraints.txt
  modules/pytket-braket/tests/constraints.txt
  modules/pytket-cirq/tests/constraints.txt
  modules/pytket-honeywell/tests/constraints.txt
  modules/pytket-ionq/tests/constraints.txt
  modules/pytket-projectq/tests/constraints.txt
  modules/pytket-pyquil/tests/constraints.txt
  modules/pytket-pyzx/tests/constraints.txt
  modules/pytket-qiskit/tests/constraints.txt
  modules/pytket-qsharp/tests/constraints.txt
  modules/pytket-qulacs/tests/constraints.txt
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Require openfermion>=1.0.1.
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

Require version of openfermion compatible with cirq 0.11.
  .github/workflows/build-test
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

[pytket-qsharp] Update qsharp version requirement. (#98)
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

Require version of openfermion compatible with cirq 0.11. (#100)
  .github/workflows/build-test
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

Disallow non-Hermitian operators in QulacsBackend.
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

Disallow non-Hermitian operators in ForestStateBackend.
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
Owners: @sjdilkes, @lmondada

Disallow non-Hermitian operators in AerStateBackend.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Explicitly disallow non-Hermitian operators where they're not supported. (#101)
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @sjdilkes, @lmondada, @ss2165, @Roland-djee

[pytket-braket] Add @property decorator to BraketBackend.device
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

[pytket-braket] Add @property decorator to BraketBackend.device (#103)
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

[pytket-braket] Add @property decorator to BraketBackend.device (#103)
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Update version number and changelog.
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/docs/changelog.rst
Owners: @cqc-alec

[pytket-braket] Handle BraketBackend._cache updates robustly
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Added BackendInfo to cirq
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

Added BackendInfo to qiskit
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_backend.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Added warning to CI script docs
  .github/workflows/build-test
Owners: none

Added BackendInfo to IonQ
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

Added BackendInfo to Honeywell
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/tests/backend_test.py
Owners: @ss2165

Added BackendInfo to AQT
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/tests/convert_test.py
Owners: @cqc-melf

Added BackendInfo to qulacs
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/pytket/extensions/qulacs/qulacs_convert.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
Owners: @Roland-djee

Added BackendInfo to braket
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/braket_convert.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
