Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @sjdilkes, @Roland-djee, @lmondada, @cqc-alec, @ss2165

Update build-docs
  .github/workflows/docs/build-docs
Owners: none

Release/1.5.0 (#467) (#468)
  modules/pytket-aqt/_metadata.py
  modules/pytket-aqt/docs/changelog.rst
  modules/pytket-aqt/setup.py
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/setup.py
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyquil/docs/changelog.rst
  modules/pytket-pyquil/setup.py
  modules/pytket-pysimplex/_metadata.py
  modules/pytket-pysimplex/docs/changelog.rst
  modules/pytket-pysimplex/setup.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-pyzx/docs/changelog.rst
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/_metadata.py
  modules/pytket-qulacs/docs/changelog.rst
  modules/pytket-qulacs/setup.py
  modules/pytket-stim/_metadata.py
  modules/pytket-stim/docs/changelog.rst
  modules/pytket-stim/setup.py
Owners: @cqc-melf, @sjdilkes, @Roland-djee, @lmondada, @cqc-alec, @ss2165

Update build-docs (#469)
  .github/workflows/docs/build-docs
Owners: none

update docs
  .github/workflows/docs/build-docs
Owners: none

update docs
  .github/workflows/docs/build-docs
Owners: none

update docs
  .github/workflows/docs/build-docs
Owners: none

Add generated documentation.
  docs/api/.doctrees/index.doctree
  docs/api/_sources/index.rst.txt
  docs/api/genindex.html
  docs/api/index.html
  docs/api/search.html
  docs/api/searchindex.js
Owners: none

fix node loop
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

update changelog
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Add/update docs links (#470)
  .github/workflows/docs/build-docs
  modules/pytket-qiskit/setup.py
Owners: @ss2165

update headings, info, predicates
  modules/pytket-qiskit/docs/intro.txt
Owners: @ss2165

Currently no available info about feed-forward. Defaulting to False.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

Defaults to False since no backend info available.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

added missing OpTypes
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

add missing CRx and CRy
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

add CRx and CRy
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

remove lines
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

add crx and cry test
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

fix comment
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

fix count.ops() method in test
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

remove JIRA reference
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

add CRx and CRy (#475)
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Add post routing KAK
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

Add post routing KAK (#476)
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

add `ECRGate` to `_qiskit_gates_2q` list in qiskit converter
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

add `ECRGate` to test
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

add changelog entry
  modules/pytket-qiskit/docs/changelog.rst
Owners: @ss2165

Support ECRGate in `pytket-qiskit` circuit conversion (#479)
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pysimplex/ @cqc-alec
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
/modules/pytket-stim/ @cqc-alec
