Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee

Enable contextual optimization in AQTBackend.
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/tests/backend_test.py
Owners: @cqc-melf

Enable contextual optimization in BraketBackend.
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/braket_convert.py
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Enable contextual optimization in HoneywellBackend.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/tests/backend_test.py
Owners: @ss2165

Enable contextual optimization in IonQBackend.
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

Enable contextual optimization in ForestBackend.
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
Owners: @sjdilkes, @lmondada

Enable contextual optimization in IBMQEmulatorBackend.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Enable contextual optimization in IBMQBackend.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/result_convert.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Enable contextual optimization in AzureBackend.
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

Bump pytket version requirement and extension versions.
  modules/pytket-aqt/_metadata.py
  modules/pytket-aqt/setup.py
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/setup.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-ionq/setup.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyquil/setup.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/setup.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee, @sjdilkes, @lmondada

Require websockets < 9.0.
  modules/pytket-honeywell/setup.py
Owners: @ss2165

Test on CI.
  .github/workflows/build_and_test.yml
Owners: none

Try this trick.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
Owners: @ss2165

Revert "Try this trick."
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
Owners: @ss2165

Another try.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
Owners: @ss2165

Revert "Require websockets < 9.0."
  modules/pytket-honeywell/setup.py
Owners: @ss2165

Fix mypy issue with websockets 9.0.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
Owners: @ss2165

Use config for credentials in AQT tests.
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-aqt/tests/convert_test.py
Owners: @cqc-melf

Fix BraketBackend initialization.
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Use config for credentials in Braket tests.
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Use config for credentials in Honeywell tests.
  modules/pytket-honeywell/tests/backend_test.py
Owners: @ss2165

Use config for credentials in IonQ tests.
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

Improve "reason" message for skipped Qiskit tests.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Ignore AZURE_AUTH environment variable in Azure tests.
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-alec

Remove unused imports.
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-ionq/tests/backend_test.py
Owners: @cqc-melf, @cqc-alec, @Roland-djee

Fix mypy issue with websockets 9.0.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
Owners: @ss2165

Use pytket config for credentials in tests. (#74)
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/api_wrappers.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee

Fix up after merge.
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee

[pytket-qiskit] Optionally allow preserving parameter uuid. Closes #72.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

[pytket-qiskit] Optionally allow preserving parameter uuid. Closes #72.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Reorder passes.
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
Owners: @cqc-melf

Use json.dumps and json.loads instead of str and literal_eval.
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee, @sjdilkes, @lmondada

Construct postprocessing circuit only when needed.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
Owners: @ss2165

Make empty cache entry when job submitted.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

Use a different variable name from the one used below.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @ss2165

Load ppcirc_rep from handle only when needed.
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
Owners: @ss2165

Enable contextual optimizations from backends. (#70)
  modules/pytket-aqt/_metadata.py
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/setup.py
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-braket/_metadata.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/braket_convert.py
  modules/pytket-braket/setup.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/setup.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/setup.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/pytket/extensions/qiskit/result_convert.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qsharp/tests/azure_test.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee, @sjdilkes, @lmondada

[pytket-qiskit] fix typo in ValueError
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

[pytket-qiskit] fix typo in ValueError
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Add changelogs for all extensions.
  modules/pytket-aqt/docs/api.rst
  modules/pytket-aqt/docs/changelog.rst
  modules/pytket-aqt/docs/index.rst
  modules/pytket-braket/docs/api.rst
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/docs/index.rst
  modules/pytket-cirq/docs/api.rst
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/docs/index.rst
  modules/pytket-honeywell/docs/api.rst
  modules/pytket-honeywell/docs/changelog.rst
  modules/pytket-honeywell/docs/index.rst
  modules/pytket-ionq/docs/api.rst
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-ionq/docs/index.rst
  modules/pytket-projectq/docs/api.rst
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-projectq/docs/index.rst
  modules/pytket-pyquil/docs/api.rst
  modules/pytket-pyquil/docs/changelog.rst
  modules/pytket-pyquil/docs/index.rst
  modules/pytket-pyzx/docs/api.rst
  modules/pytket-pyzx/docs/changelog.rst
  modules/pytket-pyzx/docs/index.rst
  modules/pytket-qiskit/docs/api.rst
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/docs/index.rst
  modules/pytket-qsharp/docs/api.rst
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/docs/index.rst
  modules/pytket-qulacs/docs/api.rst
  modules/pytket-qulacs/docs/changelog.rst
  modules/pytket-qulacs/docs/index.rst
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Add changelogs for all extensions. (#76)
  modules/pytket-aqt/docs/api.rst
  modules/pytket-aqt/docs/changelog.rst
  modules/pytket-aqt/docs/index.rst
  modules/pytket-braket/docs/api.rst
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/docs/index.rst
  modules/pytket-cirq/docs/api.rst
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/docs/index.rst
  modules/pytket-honeywell/docs/api.rst
  modules/pytket-honeywell/docs/changelog.rst
  modules/pytket-honeywell/docs/index.rst
  modules/pytket-ionq/docs/api.rst
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-ionq/docs/index.rst
  modules/pytket-projectq/docs/api.rst
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-projectq/docs/index.rst
  modules/pytket-pyquil/docs/api.rst
  modules/pytket-pyquil/docs/changelog.rst
  modules/pytket-pyquil/docs/index.rst
  modules/pytket-pyzx/docs/api.rst
  modules/pytket-pyzx/docs/changelog.rst
  modules/pytket-pyzx/docs/index.rst
  modules/pytket-qiskit/docs/api.rst
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/docs/index.rst
  modules/pytket-qsharp/docs/api.rst
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/docs/index.rst
  modules/pytket-qulacs/docs/api.rst
  modules/pytket-qulacs/docs/changelog.rst
  modules/pytket-qulacs/docs/index.rst
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada
