Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Bump pytket requirements.
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[bugfix] remove leftover print line
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
Owners: @cqc-alec

[bugfix] remove leftover print line
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
Owners: @cqc-alec

Script to build docs for extensions individually or en masse.
  .github/workflows/docs.yml
  docs/Makefile
  docs/build-docs
  docs/conf.py
  docs/index.rst
  docs/intro.txt
  docs/templates/searchbox.html
  modules/pytket-aqt/docs/index.rst
  modules/pytket-braket/docs/index.rst
  modules/pytket-cirq/docs/index.rst
  modules/pytket-honeywell/docs/index.rst
  modules/pytket-ionq/docs/index.rst
  modules/pytket-projectq/docs/index.rst
  modules/pytket-pyquil/docs/index.rst
  modules/pytket-pyzx/docs/index.rst
  modules/pytket-qiskit/docs/index.rst
  modules/pytket-qsharp/docs/index.rst
  modules/pytket-qulacs/docs/index.rst
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Fix typo.
  .github/workflows/docs.yml
Owners: none

Add workflow to create Jira task when new issue created.
  .github/workflows/issue.yml
Owners: none

[infra] Add workflow to create Jira task when new issue created. (#19)
  .github/workflows/issue.yml
Owners: none

Improve Jira task creation.
  .github/workflows/issue.yml
Owners: none

[infra] Improve Jira task creation. (#21)
  .github/workflows/issue.yml
Owners: none

Update cirq dependency to 0.10.
  modules/pytket-cirq/setup.py
Owners: @sjdilkes

Bump version.
  modules/pytket-cirq/_metadata.py
Owners: @sjdilkes

Ignore deprecation warnings from tests.
  modules/pytket-cirq/tests/pytest.ini
Owners: @sjdilkes

Add casts for mypy checks.
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

Fix retrieval of final state vector from StateVectorTrialResult.
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

Ignore type.
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

[feature] [pytket-cirq] Update cirq dependency to 0.10. (#23)
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/setup.py
  modules/pytket-cirq/tests/pytest.ini
Owners: @sjdilkes

[doc] Script to build docs for extensions individually or en masse. (#14)
  .github/workflows/docs.yml
  docs/Makefile
  docs/build-docs
  docs/conf.py
  docs/index.rst
  docs/intro.txt
  docs/templates/searchbox.html
  modules/pytket-aqt/docs/index.rst
  modules/pytket-braket/docs/index.rst
  modules/pytket-cirq/docs/index.rst
  modules/pytket-honeywell/docs/index.rst
  modules/pytket-ionq/docs/index.rst
  modules/pytket-projectq/docs/index.rst
  modules/pytket-pyquil/docs/index.rst
  modules/pytket-pyzx/docs/index.rst
  modules/pytket-qiskit/docs/index.rst
  modules/pytket-qsharp/docs/index.rst
  modules/pytket-qulacs/docs/index.rst
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Filter out some deprecation warnings.
  modules/pytket-braket/tests/pytest.ini
Owners: @cqc-alec

Switch from Aspen-8 to Aspen-9 in remote tests.
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

Check task is not completed before cancelling (otherwise it is an error).
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

[pytket-braket] Fix tests. (#24)
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-braket/tests/pytest.ini
Owners: @cqc-alec

[pytket-pyquil] Convert int pyquil param. Fixes #27
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
Owners: @sjdilkes, @lmondada

[pytket-pyquil] Convert int pyquil param. Fixes #27
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
Owners: @sjdilkes, @lmondada

Remove "type: ignore" annotation when importing numpy.
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/braket_convert.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-cirq/tests/test_cirq_backend.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq_convert.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-projectq/pytket/extensions/projectq/projectq_convert.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/tests/pyquil_convert_test.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-pyzx/tests/pyzx_convert_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/result_convert.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/pytket/extensions/qulacs/qulacs_convert.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
  modules/pytket-qulacs/tests/test_qulacs_convert.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[feature] Remove "type: ignore" annotation when importing numpy. (#29)
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-braket/pytket/extensions/braket/braket_convert.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-cirq/tests/test_cirq_backend.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq_convert.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-projectq/pytket/extensions/projectq/projectq_convert.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-pyquil/tests/pyquil_convert_test.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-pyzx/tests/pyzx_convert_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/result_convert.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/pytket/extensions/qulacs/qulacs_convert.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
  modules/pytket-qulacs/tests/test_qulacs_convert.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Delete test.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Delete test. (#30)
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Modify test (now that athens supports mid-circuit measurements).
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Modify test (now that athens supports mid-circuit measurements). (#31)
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Update qiskit requirement.
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Create Bug-type issue on Jira iff "bug" label present.
  .github/workflows/issue.yml
Owners: none

[infra] Create Bug-type issue on Jira iff "bug" label present. (#33)
  .github/workflows/issue.yml
Owners: none

Suppress some warnings from other libraries.
  modules/pytket-qiskit/tests/pytest.ini
Owners: @ss2165

Allow backend to be a BaseBackend or a BackendV1.
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_pass.py
Owners: @ss2165

Bump version.
  modules/pytket-qiskit/_metadata.py
Owners: @ss2165

[pytket-qiskit] Update to qiskit 0.24. (#34)
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_pass.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qiskit/tests/pytest.ini
Owners: @ss2165

Change URL in module metadata to point to source repo.
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[infra] Change URL in module metadata to point to source repo. (#35)
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[TKET-1134] remove conditional imports
  modules/pytket-pyzx/tests/pyzx_convert_test.py
  modules/pytket-qiskit/tests/qiskit_backend_test.py
Owners: @cqc-alec, @ss2165

Don't use obsolete extension.
  docs/conf.py
  docs/requirements.txt
Owners: none

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
