Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee

[pytket-cirq] Update Cirq DensityMatrix/State simulators to include all circuit qubits (#48)
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
  modules/pytket-cirq/tests/test_cirq_backend.py
Owners: @sjdilkes

Update qiskit version.
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Fix up construction of qiskit Pauli operator.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Bump version.
  modules/pytket-qiskit/_metadata.py
Owners: @ss2165

Support qiskit 0.25. (#51)
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Replace use of deprecated WeightedPauliOperator when constructing Instruction.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Import QuantumInstance from utils now.
  modules/pytket-qiskit/tests/qiskit_backend_test.py
Owners: @ss2165

Remove test of aqua algorithms.
  modules/pytket-qiskit/tests/qiskit_backend_test.py
Owners: @ss2165

Remove unused imports and variables.
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Remove pytket-qulacs from test requirements.
  modules/pytket-qiskit/tests/test-requirements.txt
Owners: @ss2165

Remove another unused import.
  modules/pytket-qiskit/tests/qiskit_backend_test.py
Owners: @ss2165

[pytket-qiskit] Stop using aqua in tests. (#52)
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
  modules/pytket-qiskit/tests/test-requirements.txt
Owners: @ss2165

Support qiskit 0.25. (#51)
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/setup.py
Owners: @ss2165

[hotfix] [pytket-qiskit] Support qiskit 0.25. (#54)
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/setup.py
Owners: @ss2165

[bugfix] Support qiskit symbolic phase. Fixes #49
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

[bugfix] Support qiskit symbolic phase. Fixes #49
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

add ValueError if n_shots not suitable
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

[bugfix][pytket-cirq][tket-1240] Raise ValueError if n_shots not appropriate for _CirqSampleBackend (#56)
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

AQT rebase was incorrect
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/tests/convert_test.py
Owners: @cqc-melf

reluctantly added pytket-qiskit to test deps
  modules/pytket-aqt/tests/test-requirements.txt
Owners: @cqc-melf

added tests
  modules/pytket-aqt/tests/convert_test.py
Owners: @cqc-melf

[pytket-aqt][bugfix] Fixed RebaseAQT (#58)
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-aqt/tests/convert_test.py
  modules/pytket-aqt/tests/test-requirements.txt
Owners: @cqc-melf

Test equality of sets.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[pytket-qiskit] [test] Test equality of sets. (#59)
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

update pytket version
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

update version numbers
  modules/pytket-aqt/_metadata.py
  modules/pytket-braket/_metadata.py
  modules/pytket-cirq/_metadata.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qulacs/_metadata.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

update version numbers
  modules/pytket-aqt/_metadata.py
  modules/pytket-braket/_metadata.py
  modules/pytket-cirq/_metadata.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qulacs/_metadata.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

update pytket version
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Install latest iqsharp tool.
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  .github/workflows/hotfix.yml
Owners: none

Test on CI.
  .github/workflows/build_and_test.yml
Owners: none

Update qsharp dependency.
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

Update qsharp dependency.
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

Test only pytket-qsharp.
  .github/workflows/build_and_test.yml
Owners: none

[pytket-qsharp] Update qsharp dependency and remove workaround for issue that has gone away. (#67)
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  .github/workflows/hotfix.yml
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

use fixtures to only construct remote backend once
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[pytket-qiskit] IBM custom rebase symbolic parameters. Fixes #69
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[pytket-qiskit] fix sx x rebase phase error
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

use fixtures to only construct remote backend once
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[pytket-qiskit] fix sx x rebase phase error
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[pytket-qiskit] IBM custom rebase symbolic parameters. Fixes #69
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165
