Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @Roland-djee, @lmondada, @ss2165

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-iqm/ @cqc-alec
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-quantinuum/ @ss2165
/modules/pytket-qulacs/ @Roland-djee
/modules/pytket-stim/ @cqc-alec

add copyright at the end
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
Owners: @ss2165

add api call to get backend info ionq
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

black lint ionq qubit change
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

Require cirq 0.14.
  modules/pytket-cirq/setup.py
Owners: @sjdilkes

Bump version and update changelog.
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/docs/changelog.rst
Owners: @sjdilkes

Replace use of deprecated `GlobalPhaseOperation`.
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

Replace use of deprecated `Foxtail` device; update `process_characterisation`.
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

Typomancy.
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
Owners: @sjdilkes

[pytket-cirq] Update to cirq 0.14; replace use of deprecated method and device. (#347)
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/setup.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

remove remaining references to HQS and old device names
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/config.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
  modules/pytket-quantinuum/tests/api1_test.py
  modules/pytket-quantinuum/tests/backend_test.py
Owners: @ss2165

rename QuantinuumQAPI to QuantinuumAPI
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
  modules/pytket-quantinuum/tests/api1_test.py
  modules/pytket-quantinuum/tests/api_test.py
  modules/pytket-quantinuum/tests/backend_test.py
  modules/pytket-quantinuum/tests/conftest.py
Owners: @ss2165

updated few more HQS refs, re-ran notebook to double check all is good
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
Owners: @ss2165

fix select results qubit of original circuit qubits
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

remove print statement ionq backend api call
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

fix header typo
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Move changelog entry to the right extension module.
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-qiskit/docs/changelog.rst
Owners: @cqc-alec, @ss2165

[pytket-quantinuum] Update to new device names and add user portal example (#340)
  .gitignore
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/config.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
  modules/pytket-quantinuum/tests/api1_test.py
  modules/pytket-quantinuum/tests/api_test.py
  modules/pytket-quantinuum/tests/backend_test.py
  modules/pytket-quantinuum/tests/conftest.py
Owners: @ss2165

Bump version and update changelog.
  modules/pytket-quantinuum/_metadata.py
  modules/pytket-quantinuum/docs/changelog.rst
Owners: @ss2165

[pytket-quantinuum] Update to new device names and add user portal example (#340)
  .gitignore
  modules/pytket-quantinuum/examples/Quantinuum Circuit Submissions via pytket.ipynb
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/config.py
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
  modules/pytket-quantinuum/tests/api1_test.py
  modules/pytket-quantinuum/tests/api_test.py
  modules/pytket-quantinuum/tests/backend_test.py
  modules/pytket-quantinuum/tests/conftest.py
Owners: @ss2165

Use stable version of black.
  .github/workflows/lint.yml
Owners: none

Formatting fixes.
  modules/pytket-cirq/tests/cirq_convert_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @sjdilkes, @ss2165

Bump version and update changelog.
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/docs/changelog.rst
Owners: @cqc-alec

Update qsharp requirement to 0.24.
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

Update to actions/setup-dotnet v2.
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  .github/workflows/hotfix.yml
Owners: none

Use dotnet version 6.0.x.
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  .github/workflows/hotfix.yml
Owners: none

Update docs.
  modules/pytket-qsharp/README.md
  modules/pytket-qsharp/docs/intro.txt
Owners: @cqc-alec

Update changelog.
  modules/pytket-qsharp/docs/changelog.rst
Owners: @cqc-alec

[pytket-qsharp] Update to qsharp 0.24 and dotnet 6.0 (#353)
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  .github/workflows/hotfix.yml
  modules/pytket-qsharp/README.md
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qsharp/docs/intro.txt
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

[pytket-qiskit] Move changelog entry to the right extension module. (#350)
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-qiskit/docs/changelog.rst
Owners: @cqc-alec, @ss2165

Update dotnet.
  .github/workflows/build_and_test.yml
Owners: none

Update copyright notice.
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
Owners: @ss2165

Ignore `RuntimeError` from `nest_asyncio.apply()`.
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
Owners: @ss2165

[pytket-quantinuum] Ignore possible error from `nest_asyncio.apply()` (#354)
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/api_wrappers.py
Owners: @ss2165

add changelog entry and change target qubits to json str
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

make tests require API key
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

black tests ionq
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

add back invalid token ref
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

fix typing issues
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

re-black
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

add typing for return argument get_qubit_count
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee
