Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Update qiskit dependency version.
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Change heading in changelog pending release.
  modules/pytket-qiskit/docs/changelog.rst
Owners: @ss2165

[pytket-qiskit] Update version of qiskit dependency. (#77)
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Simplify conversions.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Use `cp` instead of `cu1`.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Pass circuits directly to `run`.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
Owners: @ss2165

Use `AerSimulator` instead of `QasmSimulator`.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
Owners: @ss2165

Use `p` and `u` instead of `u1` and `u2`.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Use `u` instead of `u3`.
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Record mappings from qiskit to tket qubits and bits.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Use `save_expectation_value` instead of `snapshot_expectation_value`.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Use `cu` instead of `cu3`.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Remove unused.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Use `AerSimulator` instead of `QasmSimulator`.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_pass.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Use `aer_simulator_statevector` instead of `statevector_simulator`.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Use `aer_simulator_unitary` instead of `unitary_simulator`.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Fix up TketAutoPass constructor.
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_pass.py
Owners: @ss2165

Hamiltonians must be hermition.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Update changelog.
  modules/pytket-qiskit/docs/changelog.rst
Owners: @ss2165

Linting.
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
Owners: @ss2165

Make cirq version requirement more strict.
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/setup.py
Owners: @sjdilkes

[pytket-cirq] [hotfix] Make cirq version requirement more strict. (#80)
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/setup.py
Owners: @sjdilkes

Update changelog.
  modules/pytket-cirq/docs/changelog.rst
Owners: @sjdilkes

Extend underline.
  modules/pytket-qiskit/docs/changelog.rst
Owners: @ss2165

Don't install pre-release versions of docs dependencies.
  .github/workflows/docs.yml
Owners: none

Upgrade pip and install wheel.
  .github/workflows/docs.yml
Owners: none

Don't append 0 twice.
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

[pytket-qiskit] Remove deprecated usages of qiskit. (#78)
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
  modules/pytket-qiskit/pytket/extensions/qiskit/tket_pass.py
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Minor fixes to docs and docs build. (#82)
  .github/workflows/docs.yml
  modules/pytket-qiskit/docs/changelog.rst
Owners: @ss2165

Update cirq requirement.
  modules/pytket-cirq/setup.py
Owners: @sjdilkes

Import `cirq_google` instead of `cirq.google`.
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

Update version and changelog.
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/docs/changelog.rst
Owners: @sjdilkes

Fix mypy issue.
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
Owners: @sjdilkes

[pytket-cirq] Update cirq requirement to 0.11. (#83)
  modules/pytket-cirq/_metadata.py
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/setup.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

add CH gate
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
Owners: @sjdilkes

Run lint check on PRs.
  .github/workflows/lint.yml
Owners: none

Run lint check on PRs. (#87)
  .github/workflows/lint.yml
Owners: none

change docs.yml
  .github/workflows/docs.yml
Owners: none

use forked repo
  docs/requirements.txt
Owners: none

update changelog; add test
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-cirq/pytket/extensions/cirq/cirq_convert.py
  modules/pytket-cirq/tests/cirq_convert_test.py
Owners: @sjdilkes

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
