Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee

hiked pytket version requirements
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

added device_name field
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @cqc-melf, @cqc-alec, @ss2165, @Roland-djee, @lmondada, @sjdilkes

various small fixes
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
Owners: @cqc-melf, @cqc-alec, @lmondada, @ss2165

mypy fix
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
Owners: @sjdilkes, @lmondada

added a type ignore
  modules/pytket-braket/tests/backend_test.py
Owners: @cqc-alec

addressed comments
  modules/pytket-aqt/tests/test-requirements.txt
  modules/pytket-pyquil/pytket/extensions/pyquil/pyquil_convert.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
Owners: @cqc-melf, @sjdilkes, @lmondada, @ss2165

Depend on release version of pytket.
  modules/pytket-aqt/setup.py
  modules/pytket-braket/setup.py
  modules/pytket-cirq/setup.py
  modules/pytket-honeywell/setup.py
  modules/pytket-ionq/setup.py
  modules/pytket-projectq/setup.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyzx/setup.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qulacs/setup.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Bump version numbers.
  modules/pytket-aqt/_metadata.py
  modules/pytket-braket/_metadata.py
  modules/pytket-cirq/_metadata.py
  modules/pytket-honeywell/_metadata.py
  modules/pytket-ionq/_metadata.py
  modules/pytket-projectq/_metadata.py
  modules/pytket-pyquil/_metadata.py
  modules/pytket-pyzx/_metadata.py
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qsharp/_metadata.py
  modules/pytket-qulacs/_metadata.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Update changelogs.
  modules/pytket-aqt/docs/changelog.rst
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-cirq/docs/changelog.rst
  modules/pytket-honeywell/docs/changelog.rst
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-pyquil/docs/changelog.rst
  modules/pytket-pyzx/docs/changelog.rst
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qsharp/docs/changelog.rst
  modules/pytket-qulacs/docs/changelog.rst
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Update version requirement.
  modules/pytket-projectq/setup.py
Owners: @lmondada

Bump version and update changelog.
  modules/pytket-projectq/_metadata.py
  modules/pytket-projectq/docs/changelog.rst
Owners: @lmondada

added failing tests
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @Roland-djee, @ss2165

fixed issue 128
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
Owners: @Roland-djee, @ss2165

[pytket-projectq] Update projectq dependency to 0.6. (#127)
  modules/pytket-projectq/_metadata.py
  modules/pytket-projectq/docs/changelog.rst
  modules/pytket-projectq/setup.py
Owners: @lmondada

fixed error in machine debug mode
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

added type of function
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

Simplify tests
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

linting!
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[bugfix] [pytket-qiskit] [pytket-ionq] Support for n_shots lists in backends (#129)
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @Roland-djee, @ss2165

Update black version.
  .github/workflows/lint.yml
Owners: none

[infra] Update black version. (#130)
  .github/workflows/lint.yml
Owners: none

bumped micro version for qiskit and ionq extensions
  modules/pytket-ionq/_metadata.py
  modules/pytket-qiskit/_metadata.py
Owners: @Roland-djee, @ss2165

added changelog
  modules/pytket-ionq/docs/changelog.rst
  modules/pytket-qiskit/docs/changelog.rst
Owners: @Roland-djee, @ss2165

make use of new _get_n_shots_as_list
  modules/pytket-aqt/pytket/extensions/aqt/backends/aqt.py
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-cirq/pytket/extensions/cirq/backends/cirq.py
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-projectq/pytket/extensions/projectq/backends/projectq_backend.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibmq_emulator.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/azure_quantum.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Add `py.typed` files.
  modules/pytket-aqt/pytket/extensions/aqt/py.typed
  modules/pytket-braket/pytket/extensions/braket/py.typed
  modules/pytket-cirq/pytket/extensions/cirq/py.typed
  modules/pytket-honeywell/pytket/extensions/honeywell/py.typed
  modules/pytket-ionq/pytket/extensions/ionq/py.typed
  modules/pytket-projectq/pytket/extensions/projectq/py.typed
  modules/pytket-pyquil/pytket/extensions/pyquil/py.typed
  modules/pytket-pyzx/pytket/extensions/pyzx/py.typed
  modules/pytket-qiskit/pytket/extensions/qiskit/py.typed
  modules/pytket-qsharp/pytket/extensions/qsharp/py.typed
  modules/pytket-qulacs/pytket/extensions/qulacs/py.typed
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Include `py.typed` files in distribution.
  modules/pytket-aqt/MANIFEST.in
  modules/pytket-braket/MANIFEST.in
  modules/pytket-cirq/MANIFEST.in
  modules/pytket-honeywell/MANIFEST.in
  modules/pytket-ionq/MANIFEST.in
  modules/pytket-projectq/MANIFEST.in
  modules/pytket-pyquil/MANIFEST.in
  modules/pytket-pyzx/MANIFEST.in
  modules/pytket-qiskit/MANIFEST.in
  modules/pytket-qsharp/MANIFEST.in
  modules/pytket-qulacs/MANIFEST.in
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[infra] Add `py.typed` files to extension modules. (#135)
  modules/pytket-aqt/MANIFEST.in
  modules/pytket-aqt/pytket/extensions/aqt/py.typed
  modules/pytket-braket/MANIFEST.in
  modules/pytket-braket/pytket/extensions/braket/py.typed
  modules/pytket-cirq/MANIFEST.in
  modules/pytket-cirq/pytket/extensions/cirq/py.typed
  modules/pytket-honeywell/MANIFEST.in
  modules/pytket-honeywell/pytket/extensions/honeywell/py.typed
  modules/pytket-ionq/MANIFEST.in
  modules/pytket-ionq/pytket/extensions/ionq/py.typed
  modules/pytket-projectq/MANIFEST.in
  modules/pytket-projectq/pytket/extensions/projectq/py.typed
  modules/pytket-pyquil/MANIFEST.in
  modules/pytket-pyquil/pytket/extensions/pyquil/py.typed
  modules/pytket-pyzx/MANIFEST.in
  modules/pytket-pyzx/pytket/extensions/pyzx/py.typed
  modules/pytket-qiskit/MANIFEST.in
  modules/pytket-qiskit/pytket/extensions/qiskit/py.typed
  modules/pytket-qsharp/MANIFEST.in
  modules/pytket-qsharp/pytket/extensions/qsharp/py.typed
  modules/pytket-qulacs/MANIFEST.in
  modules/pytket-qulacs/pytket/extensions/qulacs/py.typed
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

Start updating BackendInfo for backends
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @cqc-alec, @ss2165

Update forest.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
Owners: @sjdilkes, @lmondada

update aer and tests
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

use averaged errors, format
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/aer.py
  modules/pytket-qiskit/pytket/extensions/qiskit/backends/ibm.py
  modules/pytket-qiskit/tests/backend_test.py
Owners: @sjdilkes, @lmondada, @ss2165

Remove unused imports
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

edge -> link
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
Owners: @sjdilkes, @lmondada

[infra] Update black version. (#130)
  modules/pytket-projectq/tests/projectq_backend_test.py
Owners: @lmondada

Fixed qiskit tests
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Fixed qiskit tests (#143)
  modules/pytket-qiskit/pytket/extensions/qiskit/qiskit_convert.py
Owners: @ss2165

Improve short description of pytket-qsharp.
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

Break long line.
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

[pytket-qsharp] Improve short description of pytket-qsharp. (#144)
  modules/pytket-qsharp/setup.py
Owners: @cqc-alec

get_operator_expectation_value does not use openfermion
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee
