Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @Roland-djee, @lmondada, @ss2165

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-iqm/ @cqc-alec
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-quantinuum/ @ss2165
/modules/pytket-qulacs/ @Roland-djee
/modules/pytket-stim/ @cqc-alec

another attempt at fixing typing
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
  modules/pytket-ionq/tests/backend_test.py
Owners: @Roland-djee

remove unneeded str wrapping on decode statement
  modules/pytket-ionq/pytket/extensions/ionq/backends/ionq.py
Owners: @Roland-djee

[test] Run quantinuum remote tests in CI
  modules/pytket-quantinuum/.env
  modules/pytket-quantinuum/.envrc
  modules/pytket-quantinuum/tests/backend_test.py
  modules/pytket-quantinuum/tests/conftest.py
Owners: @ss2165

Update to qiskit 0.35.
  modules/pytket-qiskit/setup.py
Owners: @ss2165

Bump version and update changelog.
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
Owners: @ss2165

Cast `qiskit.quantum_info.Operator` to `np.ndarray`.
  modules/pytket-qiskit/pytket/extensions/qiskit/result_convert.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Construct noise models from backends rather than properties.
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/ibmqx2_coupling.pickle
  modules/pytket-qiskit/tests/ibmqx2_properties.pickle
Owners: @ss2165

Add measure operations to circuit.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

Ignore warnings from numpy.
  modules/pytest.ini
Owners: none

Remove unused imports.
  modules/pytket-qiskit/tests/backend_test.py
Owners: @ss2165

[pytket-qiskit] Update to qiskit 0.35; abolish warnings from tests. (#356)
  modules/pytest.ini
  modules/pytket-qiskit/_metadata.py
  modules/pytket-qiskit/docs/changelog.rst
  modules/pytket-qiskit/pytket/extensions/qiskit/result_convert.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/ibmqx2_coupling.pickle
  modules/pytket-qiskit/tests/ibmqx2_properties.pickle
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

Test pytket-qsharp with Windows.
  .github/workflows/build-test
Owners: none

Test on CI.
  .github/workflows/build_and_test.yml
Owners: none

Fix setting of changed-modules list for push.
  .github/workflows/build_and_test.yml
Owners: none

remove change var name _get_results, update changelog, remove typo
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

Support python 3.10 with Windows.
  .github/workflows/build-test
Owners: none

Revert "Support python 3.10 with Windows."
  .github/workflows/build-test
Owners: none

[pytket-qsharp] Test on Windows (#358)
  .github/workflows/build-test
Owners: none

[pytket-braket] fix braket results dimension when using QPU devices (#348)
  modules/pytket-braket/docs/changelog.rst
  modules/pytket-braket/pytket/extensions/braket/backends/braket.py
Owners: @cqc-alec

fixed bug in quantinuum user name config
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/config.py
Owners: @ss2165

Remove local direnv files
  modules/pytket-quantinuum/.env
  modules/pytket-quantinuum/.envrc
Owners: @ss2165

[pytket-quantinuum] allow batches to be resumed in new process_circuits
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
  modules/pytket-quantinuum/tests/api1_test.py
  modules/pytket-quantinuum/tests/backend_test.py
Owners: @ss2165

[test] Run qiskit remote tests in CI
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/conftest.py
  modules/pytket-qiskit/tests/qiskit_backend_test.py
  modules/pytket-qiskit/tests/qiskit_convert_test.py
Owners: @ss2165

skip test_batching until we expect all testing accounts to have batching supported
  modules/pytket-quantinuum/tests/backend_test.py
Owners: @ss2165

skip test_batching until we expect all testing accounts to have batching supported
  modules/pytket-quantinuum/tests/backend_test.py
Owners: @ss2165

[pytket-quantinuum] allow batches to be resumed in new process_circuits
  modules/pytket-quantinuum/pytket/extensions/quantinuum/backends/quantinuum.py
  modules/pytket-quantinuum/tests/api1_test.py
  modules/pytket-quantinuum/tests/backend_test.py
Owners: @ss2165

[test] Run IQM remote tests in CI
  modules/pytket-iqm/tests/backend_test.py
  modules/pytket-iqm/tests/conftest.py
Owners: @cqc-alec

Format code
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qiskit/tests/conftest.py
  modules/pytket-quantinuum/tests/conftest.py
Owners: @ss2165

Fix typing issues
  modules/pytket-iqm/tests/conftest.py
  modules/pytket-qiskit/tests/conftest.py
  modules/pytket-quantinuum/tests/conftest.py
Owners: @cqc-alec, @ss2165

Temporarily disable tests with no support for PYTKET_RUN_REMOTE_TESTS
  .github/workflows/build-test
Owners: none

[test] Enable PYTKET_RUN_REMOTE_TESTS in build_and_test.yml
  .github/workflows/build_and_test.yml
Owners: none

Initial drop of pytket-pysimplex.
  README.md
  modules/pytket-pysimplex/MANIFEST.in
  modules/pytket-pysimplex/README.md
  modules/pytket-pysimplex/_metadata.py
  modules/pytket-pysimplex/docs/api.rst
  modules/pytket-pysimplex/docs/changelog.rst
  modules/pytket-pysimplex/docs/intro.txt
  modules/pytket-pysimplex/pytket/extensions/pysimplex/__init__.py
  modules/pytket-pysimplex/pytket/extensions/pysimplex/backends/__init__.py
  modules/pytket-pysimplex/pytket/extensions/pysimplex/backends/simplex_backend.py
  modules/pytket-pysimplex/pytket/extensions/pysimplex/py.typed
  modules/pytket-pysimplex/setup.py
  modules/pytket-pysimplex/tests/test-requirements.txt
  modules/pytket-pysimplex/tests/test_simplex.py
Owners: none
