Repository CQCL/pytket-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

specified hypothesis, openfermion and pytest as test dependencies
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

remove print line as suggested by Seyon
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

add type-ignore to imports as suggested by Seyon
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

remove unused imports as suggested by Seyon
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

remove unused Qubit import after running pylint
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

blacked and pylinted code
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @Roland-djee

remove hypothesis and pytest as dev-requirements
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

change package version specifier for OpenFermion from '==' to '~='
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

[all] replace use of compile_circuit with get_compiled_circuit(s)
  modules/pytket-aqt/setup.py
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-braket/setup.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-cirq/setup.py
  modules/pytket-cirq/tests/test_cirq_backend.py
  modules/pytket-honeywell/examples/h2_energy_evaluation.ipynb
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/setup.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/setup.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-projectq/setup.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-pyzx/setup.py
  modules/pytket-pyzx/tests/pyzx_convert_test.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qsharp/tests/azure_test.py
  modules/pytket-qsharp/tests/estimator_test.py
  modules/pytket-qsharp/tests/simulator_test.py
  modules/pytket-qsharp/tests/toffoli_simulator_test.py
  modules/pytket-qulacs/setup.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[all] replace use of compile_circuit with get_compiled_circuit(s) (#146)
  modules/pytket-aqt/setup.py
  modules/pytket-aqt/tests/backend_test.py
  modules/pytket-braket/setup.py
  modules/pytket-braket/tests/backend_test.py
  modules/pytket-cirq/setup.py
  modules/pytket-cirq/tests/test_cirq_backend.py
  modules/pytket-honeywell/examples/h2_energy_evaluation.ipynb
  modules/pytket-honeywell/pytket/extensions/honeywell/backends/honeywell.py
  modules/pytket-honeywell/setup.py
  modules/pytket-honeywell/tests/backend_test.py
  modules/pytket-ionq/setup.py
  modules/pytket-ionq/tests/backend_test.py
  modules/pytket-projectq/setup.py
  modules/pytket-projectq/tests/projectq_backend_test.py
  modules/pytket-pyquil/setup.py
  modules/pytket-pyquil/tests/qvm_backend_test.py
  modules/pytket-pyzx/setup.py
  modules/pytket-pyzx/tests/pyzx_convert_test.py
  modules/pytket-qiskit/setup.py
  modules/pytket-qiskit/tests/backend_test.py
  modules/pytket-qsharp/setup.py
  modules/pytket-qsharp/tests/azure_test.py
  modules/pytket-qsharp/tests/estimator_test.py
  modules/pytket-qsharp/tests/simulator_test.py
  modules/pytket-qsharp/tests/toffoli_simulator_test.py
  modules/pytket-qulacs/setup.py
  modules/pytket-qulacs/tests/test_qulacs_backend.py
Owners: @cqc-melf, @cqc-alec, @sjdilkes, @ss2165, @Roland-djee, @lmondada

[pytket-qulacs] Feature/qulacs does not use openfermion (#145)
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
  modules/pytket-qulacs/tests/test-requirements.txt
Owners: @Roland-djee

Update forest.py
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
Owners: @sjdilkes, @lmondada

Remove characterisation property from forest backend
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
Owners: @sjdilkes, @lmondada

Update test due to characterisation removal
  modules/pytket-pyquil/tests/qvm_backend_test.py
Owners: @sjdilkes, @lmondada

Remove remaining references to "Device"
  docs/conf.py
  modules/pytket-qsharp/pytket/extensions/qsharp/backends/common.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @cqc-alec, @Roland-djee

Remove unusued type imports
  modules/pytket-pyquil/pytket/extensions/pyquil/backends/forest.py
  modules/pytket-qulacs/pytket/extensions/qulacs/backends/qulacs_backend.py
Owners: @sjdilkes, @lmondada, @Roland-djee

.github/CODEOWNERS:

/modules/pytket-aqt/ @cqc-melf
/modules/pytket-braket/ @cqc-alec
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-honeywell/ @ss2165
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
